doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/static/splunkjs/css/bootstrap.css')
    link(rel='stylesheet', href='/static/splunkjs/css/dashboard.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content